<div style="width:100%;height:100%;min-height:800px;background-color:black;text-align:center;padding: 50px;">
{% assign filetext = page.image | replace: "-"," " | replace: "_"," " | replace: page.image.extname,"" %}
<a href="{{ page.next }}" style="float:right;color:white;">Next</a>
<a href="{{ page.prev }}" style="float:left;color:white;">Previous</a> 
<h4><a href="../index.html" style="color:white;">Back</a></h4>
<h5>{{ page.album }}</h5>
<img src="{{- page.image -}}" alt="{{ filetext }}" title="{{ filetext }}" style="max-width:100%"/>
<h3 style="color:white;">{{ imagetext }}</h3>
</div>