### Ministers of German Baptist Churches (German Baptist Conference)
{: .spaceb4 }


<p class="min-head" >Bernoth, Michael</p>

<p class="min-txt" >arrived in Australia 1880s</p>

<p class="min-txt">Marburg ca 1888</p>

<p class="min-txt">linked
with both Baptists and Churches of Christ at various times as
a lay preacher; later (from around 1890) became Seventh Day Adventist
and involved in (non-orthodox) medical work; also engaged as a
Methodist in immigration work in Central Queensland, and a landholder.</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Blum, Samuel</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">b. Esdorf,
Hungary 27 August 1874</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">d. 21 March
1951 Ohio, USA</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">German Department,
Rochester Theological Seminary, NY, 1894-1900</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">ord. Boston
MA, 5 June 1900</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">Australia:
1900-01 Blenheim (Laidley); 1901-3 Minden; 1901-2 Tent Hill&nbsp;
(also Lowood, Marburg)</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">Resigned
- ill health; departed for USA 15 Aug 1903</p>

<p class="min-txt">Post-graduate
studies at Rochester Seminary, 1905-06;</p>

<p class="min-txt">Rock
Hill Baptist Church Jamaica Plan, German Baptist Boston MA 1903-07;
Temple Baptist Church 1st German Baptist Church Pittsburgh Pa
1907-09; First Baptist Church of Lorraine Kansas 1909-17; Forest
Park Baptist Church Oak Park, Ill. 1917-19; First Baptist Church
Wasco Calif. 1919-24; Emery South Dakota, 1924-27; Erwin Ave Baptist
Church, Cleveland Ohio 1927 - 34 (or 39)</p>

<p class="min-txt">Editor
<i>Der Sendbote</i> (organ of German Baptists) 1934-46; retired
1946</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">Secretary,
Mission Board 25 yrs +</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">&nbsp;</p>

<p class="min-head" >Dickfos, Carl</p>

<p class="min-txt">Mt
Walker 1888-97</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Ehmke, G.</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">Marburg
ca 1909+</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">&nbsp;</p>

<p class="min-head" >Faulkenhaugen, Heinrich</p>

<p class="min-txt">Ordained
at Ipswich minutes&nbsp; Good Friday 1871 by Rev. T. Gerrard for
German Baptist churches</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Heinrich, Johhannes.</p>

<p class="min-txt">b.
Berlin 6 Sept 1875</p>

<p class="min-txt">d.
5 May 1936 Lowood</p>

<p class="min-txt">German
Department Rochester Theological Seminary 1900-06</p>

<p class="min-txt">ord.
Delmont South Dakota 17 June 1906 and minister 1906-08</p>

<p class="min-txt">arrived
Queensland Dec 1908</p>

<p class="min-txt">Blenheim
(Laidley) 1908-1931; Tent Hill 1908-1931; Minden 1911-1917; Kalbar
1933-1935</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Krueger, Carl</p>

<p class="min-txt">b.
Seehausen, Prussia 1850</p>

<p class="min-txt">d.
31 Aug 1927</p>

<p class="min-txt">m
1872 Mrs Krueger b 1854 Hohenwalde, Brandenberg; d. 28 Jan 1900</p>

<p class="min-txt">arrived
Queensland 1865</p>

<p class="min-txt">preaching
with outstations of Bremer Church Franklin Vale</p>

<p class="min-txt">Kalbar
1877; assistant to W. Peters at Kalbar&nbsp; 1878-1886; Kalbar
1886-1918</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Kruger, Otto Edward, DD</p>

<p class="min-txt">b.
Kankakee, Illinois USA&nbsp; 27 Sept 1875</p>

<p class="min-txt">d.
Rochester 16 Nov 1955</p>

<p class="min-txt">German
Department Rochester Seminary and Rochester Seminary (English)
1895-1900</p>

<p class="min-txt">Rochester
Seminary, post-graduate 1909-10</p>

<p class="min-txt">Western
Theological Seminary 1929-30 (post-graduate)</p>

<p class="min-txt">D.D.
(NABS) 1954</p>

<p class="min-txt">ord.
Madison South Dakota 7 June 1900</p>

<p class="min-txt">evangelist
Texas 1900-01</p>

<p class="min-txt">Australia:
Blenheim (Laidley) 1901-1908; Tent Hill 1902-1908; Minden 1903-1906</p>

<p class="min-txt">Second
German Baptist Church Rochester NY 1909-10; Burlington Iowa 1910-25;
Second Baptist Church Cleveland Ohio 1925-29; Temple Baptist Church
Pittsburgh Pa 1929-35;</p>

<p class="min-txt">Teacher
in Christian Doctrine and Homiletics Rochester Seminary 1935-46;
Librarian 1947; retired 1947</p>

<p class="min-txt">Interim
Andrews St Baptist Church Rochester&nbsp; NY 1946-52;&nbsp; interim
ministries in 1950s</p>

<p class="min-txt">Served
on Publications Board, President General Missionary Society for
German Baptists, Assoc. Editor <i>The Baptist Herald</i> 1922-28</p>

<p class="min-txt">Author:</p>

<p class="min-txt">“One
Hundred Years of German Baptist History in America” (The
Chronicle July 1939)</p>

<p class="min-txt">"Once
Again - Who are the Baptists?" Baptist Herald Jan-Apr 1952</p>

<p class="min-txt">In
God’s Hand:The Story of the North American Baptist General
Conference (1958)</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Lassig&nbsp; Ferdinand</p>

<p class="min-txt">d.
1892</p>

<p class="min-txt">1874&nbsp;
Maryborough, German Baptists</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Litzow, Wilhelm</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">Fernvale/Tarampa,
lay preacher for more than 20 year from ca 1870</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">&nbsp;</p>

<p class="min-head" >Meissener, A.</p>

<p class="min-txt">Marburg
(Bethel Church) 1897-1901&nbsp; ?</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head">Mutzelburg,
Carl</p>

<p class="min-txt">Laidley/Blenheim
- preacher from 1884 and leader 1895-1900 - to USA 21/6/1903</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">&nbsp;</p>

<p class="min-head" >Nitz, Gottfried</p>

<p class="min-txt">d.
1894&nbsp; ?</p>

<p class="min-txt">Tarampa
1885-86</p>

<p class="min-txt">Minden
1887 ?</p>

<p class="min-txt">Marburg
1890</p>

<p class="min-txt">also
a Church of Christ evangelist at Marburg and a farmer in area</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Orthner, Franz</p>

<p class="min-txt">b.
Sereth, Buckowina, Austria 15 Jan 1881</p>

<p class="min-txt">m.
Martha Truloff (Minden)&nbsp; d 19 July 1909</p>

<p class="min-txt">German
Department Rochester Seminary 1900-05</p>

<p class="min-txt">ord.
Blue Mount Texas 17 July 1905</p>

<p class="min-txt">Seguin
and Elm Creek Texas 1905-06</p>

<p class="min-txt">Australia:
Minden and Lowood 1906-11; Minden 1906-1910</p>

<p class="min-txt">Salt
Creek Baptist Church, Dallas Oregon 1911-17; Leduc Alberta Canada
1917-20; Ebenezer Saskatchewan Canada 1920-22; Harlem NY 1922-37;
Pastor at large 1937-39; Hoboken NJ 1938-43; Willow Ave Baptist
Church Hoboken NY -1946; interims NY area 1944-59; 1948-55 Librarian
Union Theological Seminary; retired 1955</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Peters, W.</p>

<p class="min-txt">b.
Hanover ?</p>

<p class="min-txt">Kalbar
(Engelsberg) 1878-1886</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Schmidt, August</p>

<p class="min-txt">1896
Minden ?</p>

<p class="min-txt">also
at Coleyville (Mt Walker)</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Schneider, Johann George</p>

<p class="min-txt">b.
1811 possibly Ellofer Weinsburg Wurttemburg or&nbsp;&nbsp; Eberstadt</p>

<p class="min-txt">d.
4 Apr 1878</p>

<p class="min-txt">(lay)
pastor in Germany</p>

<p class="min-txt">arrived
Qld 1865 or 1866</p>

<p class="min-txt">pastor
Black Gully/Mt Walker&nbsp; ca1865-78</p>

<p class="min-txt">&nbsp;</p>

<p class="min-head" >Stibbe, John</p>

<p class="min-txt">Kalbar
- 1875-77</p>

<p class="min-txt" style="margin-left: 1cm; text-indent: -1cm;">&nbsp;</p>

<p class="min-head" >Windolf, Friedrich Wilhelm Hermann</p>

<p class="min-txt">b.
Gruneplan, Duchy of Brunswick, Germany 8 May, 1846&nbsp; (or Einbeck
30 Apr 1846)</p>

<p class="min-txt">d.
22 Feb 1922</p>

<p class="min-txt">studied
Hamburg to 1865</p>

<p class="min-txt">Germany:
Herford, Westphalia 1868-70 (or 1867-72); Brunswick 9 years (or
5)</p>

<p class="min-txt">arrived
Brisbane 20 Feb 1878</p>

<p class="min-txt">Kalbar
(Fassifern Scrub and Mt Walker) 1878 and 1883+</p>

<p class="min-txt">Rosewood
Scrub/Marburg&nbsp; 1879-82</p>

<p class="min-txt">Marburg
1905-09</p>

<p class="min-txt">Author
and editor of numerous devotional, poetic and sermonic works and
hymns.</p>

