<p id="4"><strong>Photographs</strong></p>
<p id="6">Many photographs dating back to the earliest periods, all indexed but not all identified</p>
<p id="8">Digital images - many images of churches, pastors and people</p>
<p id="12"><strong>Recordings</strong>: Some audio and video recordings of Assembly proceedings and addresses (includes reel-to-reel, cassette, CD/DVD etc)</p>
<p id="16"><strong>Other records</strong></p>
<p id="18">Church histories: booklets on the histories of many churches published for centenary, jubilee or other historical occasions;</p>
<p id="20">Biographies: some biographies of ministers and prominent lay people</p>
<p id="22">Churches: Records of some individual churches, including minutes of church, diaconates, committees and departments; correspondence; reports; general papers etc. (some available on microfiche)</p>
<p id="24">Baptist Cemetery inscriptions - Coleyville, Engelsburg (Kalbar), Boonah, Highfields Baptist Cemeteries (Qld) Monumental Inscriptions</p>
<p id="26">Breed, G.R., Index of ministers who served in churches included n W.T. Whitley’s The Baptists of London up to the publication date, 1928 (BHS, UK, 2012)</p>
<p id="28">Breed, G.R., Second Index of Baptist Ministers covering many whose service did not include churches listed in W.T. Whitley’s Baptists of London (1828) BHS, UK, 2012)</p>
<p id="32"><strong>Baptist Union of Australia (Australian Baptist Ministries)</strong></p>
<p id="34">Proceedings of:</p>
<ul id="36">
<li id="36">First Australian Baptist Congress, 1908</li>
<li id="37">Second Australasian Baptist Congress, 1911</li>
<li id="38">Souvenir Programme: Inaugural Meetings, 1926</li>
<li id="39">Souvenir Programme, 1929: The Business of the Baptists</li>
<li id="40">Triennial Assembly 1938</li>
</ul>
<p id="42"><em>The New Order We Must Prepare</em>. Triennial Assembly, 1941</p>
<p id="44">National Baptist Family Convention papers - 1975, 1978, 1981, 1984, 1988, 1991, 1994</p>
<p id="46">Year Books of the State Unions and official Handbook, 1929, 938, 1942, 1961, 1964, 1975, 1979</p>
<p id="49"><strong>Periodicals</strong></p>
<p id="51"><em>Churinga</em>  - The Journal of the Australian Baptist Historical Society  (1950, 1960, 1962, 1963, 1966)</p>
<p id="53"><em>The National Baptist</em> (Quarterly) Vol 1 no 1 (March 1988)-</p>
<p id="57"><strong>Other Publications</strong></p>
<p id="61"><strong>Books</strong></p>
<p id="63"><em>From Woolloomooloo to ‘Eternity’: A History of Australian Baptists</em>  (2 volumes), Ken R Manley, (Milton Keynes: Paternoster, 2006).</p>
<p id="65"><em>Australian Baptists - Past and Present</em>,  Michael Petras (ed.) (Sydney: Baptist Historical Society of NSW, 1988)</p>
<p id="67"><em>Baptised into one Body: a Short History of the Baptist Union of Australia</em>, Basil S. Brown (Hawthorn, Vic.: Baptist Union of Australia, 1987)</p>
<p id="69"><em>Baptists - Their Heritage and Faith</em>, K.R. Manley (Brisbane: Baptist Union of Queensland, 1974)</p>
<p id="71"><em>Caring is by Sharing: Twenty-five years of Austra­lian Baptist World Aid and Relief</em> A.C. Prior (Sydney: ABWARC, 1984)</p>
<p id="73"><em>Early Australian Baptist History</em>, W. Higlett (Baptist Union of Australia, 1926)</p>
<p id="75"><em>The First Australian Baptists</em> K.R. Manley &amp; M. Petras (Syd­ney:  Baptist Historical Society of NSW, 1981)</p>
<p id="79"><strong>Baptist World Alliance</strong></p>
<p id="81">BWA Congress Proceedings (1928,  1955, 1960, 1965, 1970, 1980, 1985) o</p>
<p id="83">Baptist World Alliance Yearbook 1926, 1927</p>
<p id="85"><em>The Baptist World</em> 1960-1980</p>
